<!DOCTYPE html>
<html>
	<head>
		<title>Learnbgame</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<script src="/static/js/three.js"></script>
		<script src="/static/js/tween.min.js"></script>
		<script src="/static/js/TrackballControls.js"></script>
		<script src="/static/js/CSS3DRenderer.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/central.css">	

		<script type="text/javascript" src="/static/js/chemistryMoleculeBackground.js"></script>

	</head>
	<body>

		<div class="father">
		<canvas id="canvas"></canvas>
		</div>
		<div id="bg-wrap">
			<div id="wrap">		
				<div id="container"></div>
				<div id="menu">
					<button id="table">TABLE</button>
					<button id="sphere">SPHERE</button>
					<button id="helix">HELIX</button>
					<button id="grid">GRID</button>

				</div>
				<div id="alert">
		            <div class="title"><span></span></div>
		            <div class="img"><img src="" alt=""></div>
		            <div class="info"><span></span></div>
		            <div class="author"><span></span></div>
		        </div>
		        <div id="back">Back!</div>
		    </div>

	        <iframe src="" scrolling="no" id="iFrame"></iframe>				
		</div>		
		<script src="/static/js/central.js"></script>

	</body>
</html>

