body {
	background-repeat: no-repeat;
	font-family: Helvetica;
}

#menu{
border-bottom: 1px solid #DDD;
position: relative;
background: -webkit-linear-gradient(top, #F8F8F8 0.00%, #EFEFEF 32.86%, #D7D7D7 68.93%, #CFCFCF 100.00%);
height: 10%;
width: 97%;
list-style: none;
border-radius:0 15px 0 0;
box-shadow:0 2px 1px 0 #BEBEBE, 0 4px 1px -1px #B8B8B8, 0 6px 1px -2px #B3B3B3, 0 8px 1px -3px #ADADAD, 0 10px 1px -4px #AAAAAA, 0 12px 1px -5px #A7A7A7, 0 14px 1px -6px #9C9C9C, 0 16px 1px -7px #939393, 0 18px 1px -8px #8B8B8B, 0 20px 1px -9px #666666, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 20px 4px -6px rgba(0, 0, 0, 0.9), 0 45px 5px -5px rgba(0, 0, 0, 0.05), 0 35px 10px -5px rgba(0, 0, 0, 0.1), 0 25px 55px 5px rgba(0, 0, 0, 0.15);
z-index:0;
margin: auto;
}
#menu:before{content: "";}
#menu:after{content: "";}
#menu li{
background:transparent;
overflow: hidden;
transition: all .5s ease-out;
}

/* hover statut */
#menu li:hover,
#menu li.active{

background: #01c0a9;
z-index: 2;
width: 80px;
top: -8px;
border-radius:10px 10px 0 0;
border-top: 1px solid #f7a273;
border-left: none;
border-right: none;
text-align: center;
box-shadow:0 2px 1px 0 #963004, 0 4px 1px -1px #852A03, 0 6px 1px -2px #812802, 0 8px 1px -3px #7D2803, 0 10px 1px -4px #661F01, 0 12px 1px -5px #521A02, 0 14px 1px -6px #401601, 0 16px 1px -7px #3C1501, 0 18px 1px -8px #2D1001, 0 20px 1px -9px #110500, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.75), 0 20px 4px -6px rgba(0, 0, 0, 0.9), 0 45px 5px -5px rgba(0, 0, 0, 0.05), 0 35px 10px -5px rgba(0, 0, 0, 0.1), 0 25px 55px 5px rgba(0, 0, 0, 0.15);
z-index:0;
-webkit-transition:background border-radius 0.75s ease-in;
transition: background border-radius 0.75s ease-in;
-webkit-transition:box-shadow 0.5s ease-in;
transition: box-shadow 0.5s ease-in;
}
#menu li.active{background-color:#7AD2DD}
.item:hover{
position: relative;
display: inline-block;
text-align: center;
}

.item:hover:before,
.active.item:before{
content: "";
background: -webkit-linear-gradient(top, rgba(247,144,88,0.05) 60.00%, rgba(147,50,14,0.5) 100.00%);
background: linear-gradient(top, rgba(247,144,88,0.05) 60.00%, rgba(147,50,14,0.5) 100.00%);
display: block;
height: 200px;
width: 200px;
border-radius: 100px;
position: absolute;
top: -130px;
left: -120px;
z-index: -1;
}
/* item separateur */
.item:after{
content: "";
padding: 0px;
width: 0px;
height: 12px;
top: 20px;
display: block;
position: absolute;
border-left: 1px solid rgba(0,0,0,0.1);
border-right: 1px solid rgba(255,255,255,0.1);
z-index: 2;
}
.item:hover:after,
.item.active:after{
content: "";
display: none;
}
/* lien */
.item a{
text-align: center;

}
.item:hover a,
.item.active a{
text-align: center;
color: #FFF;
z-index: 10;
font-weight: lighter;
text-shadow: 0px 1px 0px black;
width: 80px;
display: block;}


p{color:#fff;font-size:1em;font-weight:bold;font-family:"微软雅黑";}

p span {
  display:inline-block;
  position:relative;
  -webkit-transform-style:preserve-3d;
          transform-style:preserve-3d;
  -webkit-perspective:500;
          perspective:500;
  -webkit-font-smoothing:antialiased;
}
p span::before,
p span::after {
  display:none;
  position:absolute;
  top:0;
  left:-1px;
  -webkit-transform-origin:left top;
      -ms-transform-origin:left top;
          transform-origin:left top;
  -webkit-transition:all ease-out 0.3s;
          transition:all ease-out 0.3s;
  content:attr(data-text);
}
p span::before {
  z-index:1;
  color:rgba(0,0,0,0.2);
  -webkit-transform:scale(1.1, 1) skew(0deg, 20deg);
      -ms-transform:scale(1.1, 1) skew(0deg, 20deg);
          transform:scale(1.1, 1) skew(0deg, 20deg);
}
p span::after {
  z-index:2;
  color:#01c0a9;
  text-shadow:-1px 0 1px #684da3, 1px 0 1px rgba(0,0,0,0.8);
  -webkit-transform:rotateY(-40deg);
          transform:rotateY(-40deg);
}
p span:hover::before {
  -webkit-transform:scale(1.1, 1) skew(0deg, 5deg);
      -ms-transform:scale(1.1, 1) skew(0deg, 5deg);
          transform:scale(1.1, 1) skew(0deg, 5deg);
}
p span:hover::after {
  -webkit-transform:rotateY(-10deg);
          transform:rotateY(-10deg);
}
p span + span {
  margin-left:0.1em;
}
@media (min-width:20em) {
  p {
    font-size:2em;
  }
  p span::before,
  p span::after {
    display:block;
  }
}
@media (min-width:30em) {
  p {
    font-size:3em;
  }
}
@media (min-width:40em) {
  p {
    font-size:5em;
  }
}
@media (min-width:60em) {
  p {
    font-size:8em;
  }
}


#menu > li {
  padding: 0;
  display: inline;
  position: relative;
  margin: 0 12px;
}
#menu > li:hover > a {
  color: #eae8a5;
}
#menu > li:last-child > a:after {
  display: none;
}
#menu > li > a {
  display: inline-block;
  padding: 15px 20px;
  position: relative;

  text-decoration: none;
  color: rgb(0,0,0);
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.2);
  transition: color 0.3s linear;
}
#menu > li > a:after {

  font-family: 'Typicons', sans-serif;
  position: absolute;
  right: -24px;
  padding-top: 2px;
}
#menu > li > a:hover {
  color: #eae8a5;
}
#menu > li:hover > ul {
  left: 0;
  opacity: 1;
  top: 30px;
}
#menu ul {
  position: absolute;
  left: -9999px;
  padding-top: 10px;
  border-bottom: 1px solid #cccccc;
  opacity: 0;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  /* top arrow */
  /* sub 2nd level */
}
#menu ul:before, #menu ul:after {
  content: '';
  display: block;
  position: absolute;
}
#menu ul:before {
  height: 9px;
  width: 9px;
  border: 1px solid #cccccc;
  border-right: 0;
  border-bottom: 0;
  top: 5px;
  left: 25px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #eeeeee;
}
#menu ul:after {
  height: 1px;
  width: 12px;
  background: #eeeeee;
  top: 10px;
  left: 24px;
}
#menu ul li {
  display: block;
  position: relative;
  border: 1px solid #cccccc;
  border-bottom: 0;
  width: 150px;
  text-align: justify;
  background: #eeeeee;
  box-shadow: 3px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-transition: background 0.3s linear;
  -o-transition: background 0.3s linear;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}
#menu ul li:last-child {
  border-bottom: 1px;
}
#menu ul li:hover {
  background: #f7f7f7;
}
#menu ul li:hover a {
  color: #4db6b0;
}
#menu ul li a {
  font: 14px "Oswald", sans-serif;
  color: #65c0bb;
  text-decoration: none;
  display: block;
  padding: 7px 12px 7px 20px;
  -moz-transition: color 0.3s linear;
  -o-transition: color 0.3s linear;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
#menu ul li a:hover {
  color: #4db6b0;
}
#menu ul li ul {
  opacity: 1;
}
#menu ul li ul:before {
  font-family: sans-serif;
  color: #b3b3b3;

  background: none;
  opacity: 1;
  position: absolute;
  left: 10130px;
  top: -27px;
  z-index: 1;
  -moz-transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
  border: 0;
}
#menu ul li:hover > ul {
  left: 150px;
  opacity: 1;
  top: -11px;
  padding-left: 12px;
  border-bottom: 0;
  box-shadow: none;
}
#menu ul li:hover > ul:before {
  content: '';
  border: 1px solid #cccccc;
  border-right: 0;
  border-bottom: 0;
  top: 20px;
  left: 8px;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background: #eeeeee;
  z-index: -1;
}
#menu ul li:hover > ul:after {
  height: 10px;
  width: 1px;
  top: 20px;
  left: 12px;
}




.webdesigntuts-workshop{
  text-align: center;
}

.webdesigntuts-workshop:before {
  background: #444;
  background: -webkit-linear-gradient(left, #151515, #444, #151515);
  background: -moz-linear-gradient(left, #151515, #444, #151515);
  background: -o-linear-gradient(left, #151515, #444, #151515);
  background: -ms-linear-gradient(left, #151515, #444, #151515);
  background: linear-gradient(left, #151515, #444, #151515);
  top: 192px;
}



.webdesigntuts-workshop form {
  background: #111;
  background: -webkit-linear-gradient(#1b1b1b, #111);
  background: -moz-linear-gradient(#1b1b1b, #111);
  background: -o-linear-gradient(#1b1b1b, #111);
  background: -ms-linear-gradient(#1b1b1b, #111);
  background: linear-gradient(#1b1b1b, #111);
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #272727;
  display: inline-block;
  font-size: 0px;
  position: relative;
  z-index: 1;
}

.webdesigntuts-workshop input {
  background: #222;
  background: -webkit-linear-gradient(#333, #222);  
  background: -moz-linear-gradient(#333, #222); 
  background: -o-linear-gradient(#333, #222); 
  background: -ms-linear-gradient(#333, #222);  
  background: linear-gradient(#333, #222);  
  border: 1px solid #444;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 0 #000;
  color: #888;
  display: block;
  float: left;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  margin: 0;
  padding: 0 10px;
  text-shadow: 0 -1px 0 #000;
  width: 200px;
}

.ie .webdesigntuts-workshop input {

}

.webdesigntuts-workshop input::-webkit-input-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:-moz-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:focus {
  -webkit-animation: glow 800ms ease-out infinite alternate;
  -moz-animation: glow 800ms ease-out infinite alternate;
  -o-animation: glow 800ms ease-out infinite alternate;
  -ms-animation: glow 800ms ease-out infinite alternate;
  animation: glow 800ms ease-out infinite alternate;
  background: #222922;
  background: -webkit-linear-gradient(#333933, #222922);
  background: -moz-linear-gradient(#333933, #222922);
  background: -o-linear-gradient(#333933, #222922);
  background: -ms-linear-gradient(#333933, #222922);
  background: linear-gradient(#333933, #222922);
  border-color: #393;
  box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
  color: #efe;
  outline: none;
}

.webdesigntuts-workshop input:focus::-webkit-input-placeholder { 
  color: #efe;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
  color: #efe;
}

.webdesigntuts-workshop button {
  background: #222;
  background: -webkit-linear-gradient(#333, #222);
  background: -moz-linear-gradient(#333, #222);
  background: -o-linear-gradient(#333, #222);
  background: -ms-linear-gradient(#333, #222);
  background: linear-gradient(#333, #222);
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -o-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid #444;
  border-left-color: #000;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 2px 0 #000;
  color: #fff;
  display: block;
  float: left;
  font-family: 'Cabin', helvetica, arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  height: 40px;
  margin: 0;
  padding: 0;
  position: relative;
  text-shadow: 0 -1px 0 #000;
  width: 80px;
} 

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
  background: #292929;
  background: -webkit-linear-gradient(#393939, #292929);  
  background: -moz-linear-gradient(#393939, #292929); 
  background: -o-linear-gradient(#393939, #292929); 
  background: -ms-linear-gradient(#393939, #292929);  
  background: linear-gradient(#393939, #292929);
  color: #5f5;
  outline: none;
}

.webdesigntuts-workshop button:active {
  background: #292929;
  background: -webkit-linear-gradient(#393939, #292929);
  background: -moz-linear-gradient(#393939, #292929);
  background: -o-linear-gradient(#393939, #292929);
  background: -ms-linear-gradient(#393939, #292929);
  background: linear-gradient(#393939, #292929);
  box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
  top: 1px;
}

@-webkit-keyframes glow {
    0% {
    border-color: #393;
    box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    } 
    100% {
    border-color: #6f6;
    box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-moz-keyframes glow {
    0% {
    border-color: #393;
    box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    } 
    100% {
    border-color: #6f6;
    box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-o-keyframes glow {
    0% {
    border-color: #393;
    box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    } 
    100% {
    border-color: #6f6;
    box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-ms-keyframes glow {
    0% {
    border-color: #393;
    box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    } 
    100% {
    border-color: #6f6;
    box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@keyframes glow {
    0% {
    border-color: #393;
    box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    } 
    100% {
    border-color: #6f6;
    box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

#bottom {position: fixed; left: 0; width: 100%; border: 1px; bottom: 0;
                  color: red; background: black; height: 20px;text-align: center}
#bottom a {color: #202020; width: 200px;}

#svg{
  background-color: darkseagreen;
  background: radial-gradient(darkseagreen 0%, black 70%);
  width: 500px;
}